readme.md text export-ignore
*.ps1 text eol=crlf
*.au3 text eol=crlf
*.ini diff -text eol=crlf
*.vbs text eol=crlf
*.txt diff -text eol=crlf
*.patch diff -text eol=lf
*.htm text eol=crlf
*.html text eol=crlf
*.gitignore text eol=crlf export-ignore
*.gitattributes text eol=crlf export-ignore
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.exe binary
